* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#first-section {
  background-color: #1f2937;
  padding-top: 0.3rem;
  display: flex;
}

.header-text {
  color: #f9faf8;
  font-size: 24px;
  margin-left: 10rem;
  margin-right: 18em;
  font-weight: 700;
}

ul {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-weight: 200;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: row;
}

#content {
  background-color: #1f2937;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10rem;
}

h1 {
  margin-left: 10rem;
  color: #f9faf8;
  margin-top: 10rem;
  font-weight: bolder;
  font-size: 48px;
}

.first-paragraph {
  color: #e5e7eb;
  margin-left: 10rem;
  font-size: 18px;
  font-weight: 300;
}

.blue-btn {
  margin-left: 10rem;
  margin-top: 0.5rem;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 10px 30px;
  text-align: center;
  font-weight: 600;
  border-radius: 7px;
}

img {
  display: flex;
  margin-left: 5rem;
  width: 450px;
  height: 225px;
  object-fit: cover;
}

#second-section {
  padding-top: 2rem;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.box-holder {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.box {
  margin-top: 3rem;
  border: 4px solid #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.msg {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
